:root {
  --primary-brand-color: #ba3651;
  --border-color: #e0e0e0;
  --gray-color: #808080;
  --lightgray-color: #c0c0c0;
  --bgwhite-color: #f0f0f0;
  --bgdark-color: #404040;
  --white-color: #ffffff;
}
