@use 'color.scss';
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&family=Noto+Sans+Mono:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100vh;
}

body {
  font-family: "Noto Sans JP";
}

h1, h2, h3, h4, h5, h6,
p, blockquote, pre, ul, ol {
  margin: 0;
  padding: 0;

  margin-bottom: 40px;

  &:last-child {
    margin-bottom: 0;
  }
}

p {
  line-height: 2em;
}

ul, ol {
  padding: 5px 40px;
}

ul p {
  margin-bottom: 0;
}

h1 { font-size: 2em; }
h2, h3, h4, h5, h6 {
  color: var(--primary-brand-color);
}

h2 {
  font-size: 1.8em;
  border-bottom: 2px solid var(--border-color);
  padding-bottom: 8px;
}
h3 {
  font-size: 1.6em;
  border-left: 8px solid var(--border-color);
  padding-left: 8px;
}
h4 { font-size: 1.4em; }
h5 { font-size: 1.2em; }
h6 { font-size: 1em; }

img, iframe {
  max-width: 100%;
}

blockquote {
  padding: 20px;
  background-color: var(--bgwhite-color);

  position: relative;

  &::before {
    position: absolute;
    font-size: 2em;
    content: '“';
    font-weight: bold;
    color: var(--border-color);
    top: -5px;
    left: 10px;
  }

  &::after {
    position: absolute;
    font-size: 2em;
    content: '”';
    font-weight: bold;
    color: var(--border-color);
    bottom: -5px;
    right: 10px;
  }
}

a {
  color: var(--primary-brand-color);
  text-decoration: underline;
}

pre {
  padding: 10px;
  white-space: pre-wrap;
  font-family: 'Noto Sans Mono', monospace;
}

.histories {
  list-style: none;
  
  li {
    margin: 0;
    padding: 10px;
    padding-left: 20px;

    position: relative;

    &::before {
      display: block;
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      border-left: 2px solid var(--border-color);
    }

    &::after {
      display: block;
      content: '';
      position: absolute;
      background-color: #ffffff;
      border: 3px solid var(--primary-brand-color);
      top: calc(50% - 8px);
      left: -8px;
      width: 12px;
      height: 12px;
      border-radius: 50%;
    }

    &:first-child::before {
      top: 50%;
    }
    
  }
  &_item {
    &_content {
      font-weight: bold;
      font-size: 1.25em;
    }
    &_remarks {
      color: #808080;
    }
    &_date {
    }
  }
}
