.homeHero {
  color: #ffffff;
  background-color: #ba3651;
  font-weight: bold;

  &_brand {
    padding: 100px 25%;
    @include mq {
      padding: 20px;
      font-size: 0.75rem;
    }

    text-align: center;
    &_subTitle {
      font-size: 1.5em;
    }
    &_title {
      font-size: 3em;
    }
    &_description {
      margin-top: 5px;
    }
  }
}

.homeStyle {
  .sectionHeader {
    margin-bottom: 10px;
    font-weight: 700;

    &:last-child {
      margin-bottom: 0;
    }

    &_title {
      font-size: 3em;
      @include mq {
        font-size: 2em;
      }
    }

    &_subTitle {
      margin-top: -0.5em;
      color: #ba3651;
    }
  }
}

.workCard {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;

  @include mq {
    flex-direction: row;
    gap: 20px;
  }

  &_item {
    width: calc(50% - 5px);
    @include mq {
      width: 100%;
    }

    &_eyecatch {
      height: 150px;
      background-color: #ba3651;
      background-position: center center;
      background-size: cover;
      background-repeat: no-repeat;
    }

    &_meta {
      padding: 10px;
      background-color: #f0f0f0;
      &_labels {
        font-size: 0;
        span {
          font-size: 1rem;
        }
      }
      &_title {
        font-size: 1.5em;
        font-weight: bold;
      }
      &_description {
  
      }
    }
  }
}