<header>
  <div class="brand">
    <div class="brand_message">いろいろやります。</div>
    <div class="brand_logo"><img src="{{ .Site.BaseURL }}logo/header.svg"></div>
  </div>
  <ul class="menu">
    <li><a href="{{ .Site.BaseURL }}" class="{{ if eq .Section "" }}active{{ end }}">ABOUT</a></li>
    <li><a href="{{ .Site.BaseURL }}/works" class="{{ if eq .Section "works" }}active{{ end }}">WORKS</a></li>
    <li><a href="{{ .Site.BaseURL }}/posts" class="{{ if eq .Section "posts" }}active{{ end }}">POSTS</a></li>
    <li><a href="{{ .Site.BaseURL }}/links" class="{{ if eq .Section "links" }}active{{ end }}">LINKS</a></li>
    <li><a href="{{ .Site.BaseURL }}/contacts" class="{{ if eq .Section "contacts" }}active{{ end }}">CONTACTS</a></li>
  </li>
</header>
