<main>
  <ul class="breadcrumbs">
    <li>ホーム</li>
    <li>ホーム</li>
    <li>ホーム</li>
  </ul>
  <div class="postMeta">
    <h1>あいうえお</h1>
    <time>2022年12月14日 19:03</time>
  </div>
  <article>
    <h2>かきくけこ</h2>
    <p>さしすせそ</p>
    <h3>たちつてと</h3>
    <p>なにぬねの</p>
    <h4>はひふへほ</h4>
    <p>まみむめも</p>
    <h5>やゆよ</h5>
    <p>らりるれろ</p>
    <h6>わを</h6>
    <p>ん</p>
  </article>
  <nav class="postPager">
    <div class="postPager_prev">
      <div class="postPager_direction">PREVIOUS</div>
      <div class="postPager_title"><a href="">タイトル</a></div>
    </div>
    <div class="postPager_next">
      <div class="postPager_direction">NEXT</div>
      <div class="postPager_title"><a href="">タイトル</a></div>
    </div>
  </nav>
</main>
