{{ define "main" }}
<main>
  <div class="hero">
    <div class="hero_title">{{ .Title }}</div>
    <div class="hero_description">{{ .Params.SubTitle }}</div>
  </div>
  <div class="container">
    {{ .Content }}
    {{ $Pages := where .Site.RegularPages "Type" "in" .Section }}
    {{ range $Pages }}
      <div class="postList_item">
        <div class="postList_item_title"><a href="{{ .Permalink }}">{{ .Title }}</a></div>
        <div class="postList_item_meta">{{ .Params.date.Local.Format "2006年01月02日 15時04分" }}</div>
      </div>
    {{ end }}
  </div>
</main>
{{ end }}
