@mixin mq {
  @media screen and (max-width: 800px) {
    @content;
  }
}

html,
body {
  background-color: #efefef;
}

header {
  padding: 15px 20px;
  background-color: #cc3355;
  color: #ffffff;

  .logo {
    height: 20px;
  }
}

footer {
  @include mq {
    padding: 20px;
  }
}

a {
  color: #cc3355;
}

h1 {
  display: inline-block;
  padding: 0 5px;
  background-color: #cc3355;
  color: #ffffff;
}

h2,
h3,
h4,
h5,
h6 {
  color: #cc3355;
}

ul {
  list-style: none;
  padding-left: 1em;
  li {
    &::before {
      content: '・';
    }
  }
}

.container {
  min-width: 700px;
  width: 50%;
  margin: 20px auto;
  padding-top: 0;

  @include mq {
    width: 100%;
    min-width: 100%;
    margin: 0;
    padding: 0;
  }

  main {
    padding: 20px;
    @include mq {
      padding: 10px;
    }

    background-color: #ffffff;
  }

  .meta {
    margin-bottom: 10px;

    &List,
    .breadcrumbs {
      margin: 0;
      padding: 0;
      list-style: none;
      color: #808080;

      li {
        display: inline-block;
        &:first-child::before {
          content: '';
        }
      }
    }

    &List {
      li:not(:first-child)::before {
        content: ' / ';
      }
    }

    .breadcrumbs {
      margin-bottom: 20px;
      padding: 10px;
      background-color: #efefef;

      li:not(:first-child)::before {
        content: ' > ';
      }
    }
  }
}

.noneGap {
  margin-bottom: 0;
}

.cardWrap {
  display: block;
  margin-bottom: 5px;
  border-bottom: 2px solid #efefef;

  &:last-child {
    margin-bottom: 0;
  }
}

.card {
  padding: 10px;
  background-color: #fafafa;

  transition: color linear 0.2s;

  &:hover {
    background-color: #efefef;
  }

  &Title {
    display: inline-block;
    padding: 0 5px;
    font-weight: bold;
    color: #808080;
    background-color: #cc3355;
    color: #ffffff;
  }

  &Description {
    color: #202020;
  }
}
