{{ define "main" }}
<main>
  <div class="hero">
    <div class="hero_description">
      <ul class="breadcrumbs">
        <li><a href="{{ .Site.BaseURL | relLangURL }}works">WORKS</a></li>
      </ul>
    </div>
    <div class="hero_title">{{ partial "parts/departmentLabel" .Title }}</div>
    <div class="hero_description">{{ partial "parts/departmentName" .Title }}は、こんなこともやります。</div>
  </div>
  <div class="container">
    {{- partial "parts/departmentLabelList" -}}
    {{ range .Data.Pages }}
      <div class="workList_item" style="background-image: url('{{ .Params.EyecatchURL }}')">
        <div class="workList_item_labels">{{- partial "parts/departmentLabel" ( index .Params.Departments 0 ) -}}</div>
        <div class="workList_item_meta">
          <div class="workList_item_meta_subTitle">{{ .Params.SubTitle }}</div>
          <div class="workList_item_meta_title"><a href="{{ .Permalink }}">{{ .Title }}</a></div>
          <div class="workList_item_meta_description">{{ .Summary }}</div>
        </div>
      </div>
    {{ end }}
  </div>
</main>
{{ end }}
