{{ define "main" }}
<main>
  <div class="hero">
    <div class="hero_title">WORKS</div>
    <div class="hero_description">ねくたりしょんは、いろいろやります。</div>
  </div>
  <div class="container">
    {{- partial "parts/departmentLabelList" . -}}
    {{ $Pages := where .Site.RegularPages "Type" "in" .Section }}
    {{ range $Pages }}
      <div class="workList_item" style="background-image: url('{{ .Params.EyecatchURL }}');">
        <div class="workList_item_labels">
          {{- partial "parts/departmentLabel" ( index .Params.Departments 0 ) -}}
          <span class="label">{{ .Params.Date.Local.Format "2006.01" }}</span>
        </div>
        <div class="workList_item_meta">
          <div class="workList_item_meta_subTitle">{{ .Params.SubTitle }}</div>
          <div class="workList_item_meta_title"><a href="{{ .Permalink }}">{{ .Title }}</a></div>
          <div class="workList_item_meta_description">{{ .Summary }}</div>
        </div>
      </div>
    {{ end }}
  </div>
</main>
{{ end }}
